GetTopicsAndReturn.json
{"id":"aa1b4af1-0d8a-45e9-ab1a-1801b25e890d","brandColor":"#8C3900","connectionReferences":{"shared_commondataserviceforapps":{"connection":{"id":"/cr0c1_sharedcommondataserviceforapps_4c4d2"}}},"connectorDisplayName":"Control","icon":"data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDMyIDMyIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KIDxwYXRoIGQ9Im0wIDBoMzJ2MzJoLTMyeiIgZmlsbD0iIzhDMzkwMCIvPg0KIDxwYXRoIGQ9Im04IDEwaDE2djEyaC0xNnptMTUgMTF2LTEwaC0xNHYxMHptLTItOHY2aC0xMHYtNnptLTEgNXYtNGgtOHY0eiIgZmlsbD0iI2ZmZiIvPg0KPC9zdmc+DQo=","isTrigger":false,"operationName":"Get_Topics_and_return","operationDefinition":{"type":"Scope","actions":{"Apply_to_each":{"type":"Foreach","foreach":"@outputs('List_rows_-_Chatbot_subcomponents')?['body/value']","actions":{"add_to_string":{"type":"AppendToStringVariable","inputs":{"name":"varResponse","value":"- @{items('Apply_to_each')?['name']} (@{replace(items('Apply_to_each')?['description'],outputs('FilterTag'),'')})\n\n"},"runAfter":{},"metadata":{"operationMetadataId":"4bd89be6-8eb1-4db0-93c1-c4d09b5276f2"}}},"runAfter":{"List_rows_-_Chatbot_subcomponents":["Succeeded"]},"metadata":{"operationMetadataId":"73fc4d48-87fb-411d-8256-f9e2f24bf97a"}},"Return_value(s)_to_Power_Virtual_Agents":{"type":"Response","kind":"VirtualAgent","inputs":{"statusCode":200,"body":{"response":"@variables('varResponse')"},"schema":{"type":"object","properties":{"response":{"title":"Response","x-ms-dynamically-added":true,"type":"string"}}}},"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"operationMetadataId":"ef34cb10-8fe4-4a3c-950a-002cb59a732c"}},"Return_value(s)_to_Power_Virtual_Agents_2":{"type":"Response","kind":"VirtualAgent","inputs":{"statusCode":200,"body":{"response":"Can't find anything."},"schema":{"type":"object","properties":{"response":{"title":"Response","x-ms-dynamically-added":true,"type":"string"}}}},"runAfter":{"Return_value(s)_to_Power_Virtual_Agents":["TimedOut","Skipped","Failed"]},"metadata":{"operationMetadataId":"ef34cb10-8fe4-4a3c-950a-002cb59a732c"}},"FilterTag":{"type":"Compose","inputs":"#","runAfter":{},"metadata":{"operationMetadataId":"71218d67-425c-4d38-a495-89ac97c96b22"}},"List_rows_-_Chatbot_subcomponents":{"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"botcomponents","fetchXml":"<fetch version=\"1.0\" mapping=\"logical\" no-lock=\"false\" distinct=\"true\">\n<entity name=\"botcomponent\">\n<attribute name=\"name\"/>\n<attribute name=\"createdon\"/>\n<order attribute=\"name\" descending=\"false\"/>\n<attribute name=\"ownerid\"/>\n<attribute name=\"modifiedon\"/>\n<attribute name=\"modifiedby\"/>\n<attribute name=\"ismanaged\"/>\n<attribute name=\"description\"/>\n<attribute name=\"createdby\"/>\n<attribute name=\"content\"/>\n<attribute name=\"componenttype\"/>\n<attribute name=\"botcomponentid\"/>\n<filter type=\"and\">\n<condition attribute=\"schemaname\" operator=\"like\" value=\"%topic%\"/>\n<condition attribute=\"description\" operator=\"like\" value=\"@{outputs('FilterTag')}%\"/>\n<condition attribute=\"schemaname\" operator=\"not-null\"/>\n<condition attribute=\"content\" operator=\"not-like\" value=\"%systemIntentTypes%\"/>\n</filter>\n</entity>\n</fetch>"},"authentication":"@parameters('$authentication')"},"runAfter":{"FilterTag":["Succeeded"]},"metadata":{"operationMetadataId":"1a01df81-f9d5-4246-b772-1fd01c4c19f7"}}},"runAfter":{"initial_variable_-_varResponse":["Succeeded"]},"metadata":{"operationMetadataId":"afa6bbc1-a707-4383-a100-d73ba165f41d"}}}
